@use '../util/breakpoints' ;

.budget-container{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 13px;
    position: relative;
}

.add-category-btn{
    width: 100%;
}

.budget-container + .budget-container{
    margin-top: 25px;
    @include breakpoints.up('lg'){
        margin-top: 0;
    }
}

.toggle-list{
    margin-left: auto;
    text-align: center;
    transform: rotate(90deg);
    transition: all .3s linear;
}

.turn{
    transform: rotate(-90deg);

}


.header-container{
    display: flex;
    align-items: center;

    h3{
        margin-top: 0;
    }

    h3, span{
        margin-left: 20px;
    }
}

.budget-list{
    max-height: 130px;
    overflow: hidden;
    @include breakpoints.up('lg'){
        height: 130px;
    }
    li{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #999999;
        height: 37px;
        &:nth-child(1){
            border-top: 1px solid #999999;
        }
    }

    &item__name{
        margin-left: 12px;
    }

    .budget-item__amount{
        margin-left: auto;
    }

    form{
        display: flex;
        align-items: center;
    }
}

.show-list{
    max-height: none;
    @include breakpoints.up('lg'){
        height: auto;
        min-height: 130px; 
    }
}

.delete-btn, .edit-btn{
    width: 22px;
    height: 22px;
    border-radius: 999px;
    position: relative;
    color: white;

        svg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
        }
    }

.delete-btn{
    background-color: #FF5A5F;
}
.edit-btn{
    background-color: green;
}

.balance{
    background: white;
    box-shadow: 0 5px 10px 0 hsla(0, 0%, 0%, 0.5);
    border-radius: 20px;
    padding: 20px 13px;
    /* margin: 0 15px; */
    position: fixed;
    bottom: 20px;
    /* width: 90vw; */
    right: 5vw;
}

.edit-input-name, .edit-input-amount{
    border: none;
    padding: 6px;
    &::placeholder{
        color: #999999;
    }
}
.edit-input-name{
    width: -webkit-fill-available;
}
.edit-input-amount{
    width: 60px;
    margin-left: auto;

}

.budget-edit-form{
    width: 100%;
}

.budget-item__actions{
    display: flex;
    gap: 8px;
    margin-right: 15px;
}